html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    }

h1 {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 100;
    font-family: "Lato", "Helvetica", sans-serif;
    margin-bottom: 10px;
    }

h2 {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: Lato-light, "Helvetica", sans-serif;
    font-weight: 100;
    }

h3 {
    font-size: 1.5rem;
    /*font-weight: bold;*/
    font-family: "Lato", "Helvetica", sans-serif;
    margin-bottom: 8px;
    color: #008b8b;
    text-align: center;
    }

h4 {
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 800;
    }

p   {
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: 0.85rem;
    padding-bottom: 10px;
    line-height: 1.75;
    }

iframe {
    text-align: center;
}

form {
    font-family: "Lato", "Helvetica", sans-serif;
    padding: 10px 0;
    }

input {
    /*width: 20%;*/
    margin: 0.5rem;
    }

input[type='submit'] {
    display: block;
    }

.container {
    margin: 0 auto;
    max-width: 960px;
}

.nav-bar {
    width: 100%;
    background-color: #008b8b;
    position: fixed;

}

.nav-bar ul {
    font-size: 1rem;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 100;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar li {
    /*font-size: 1rem;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 100;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
    padding: 10px 20px;
}

.highlight {
    background-color: yellow;
}

.header-homepage {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/11403017_10152903802396456_6562952946449522985_n.jpg?oh=b7767893ce04d5222e6d1821f59d0d66&oe=58407C02);
    background-size: cover;
    margin-bottom: 40px;
}

/*.header-media {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(http://www.publicdomainpictures.net/pictures/160000/velka/ordinateur-de-bureau-pc-1456070535WEH.jpg);
    background-size: cover;
    margin-bottom: 40px;
}*/

/*.header-projects {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://assets.entrepreneur.com/content/16x9/822/20150708163614-wordpress-millenial-desk-startup-plug-ins.jpeg);
    background-size: cover;
    margin-bottom: 40px;
}*/

/*.header-blog {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg);
    background-size: cover;
    margin-bottom: 40px;
}*/

.header-contact {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(http://cdn.playbuzz.com/cdn/c6fe5e23-a4d1-49dd-84a6-809ec6a83b7a/37386659-3c93-44e1-8162-f58546ca0de7.jpg);
    background-size: cover;
    margin-bottom: 40px;
}

.header-projects h1 {
    font-size: 3.5rem;
    color: #000000;
    font-weight: 100;
    font-family: "Lato", "Helvetica", sans-serif;
    margin-bottom: 10px;
}

.header-projects h2 {
    font-size: 1.25rem;
    color: #000000;
    font-family: Lato-light, "Helvetica", sans-serif;
    font-weight: 100;
}

.fill-in-info {
    display: flex;
    margin-bottom: 20px;
    flex-flow: wrap;
}

.radio-area, .subscribe-area, .hear-about-me {
    margin-bottom: 30px;
}


.intro-text p {
    margin-bottom: 25px;
    font-family: Lato-light, "Helvetica", sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.75;
}

.work-button p {
    background-color: hotpink;
    padding: 50px;
    font-family: Lato-light, "Helvetica", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}

/*.blurb-text h3 {
    margin-bottom: 20px;
}*/

/*.blurb-text p {
    font-family: Lato-light, "Helvetica", sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.75;
}*/

/*.blurb-text img {
    width: 25rem;
    height: auto;
    float: left;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
}*/

/*.blurb-text-video {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.work ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.work img {
    width: 300px;
    height: 225px;
    padding: 20px;
    background-color: hotpink;
}

.footer {
    text-align: center;
    padding: 1.25rem;
}

.footer li {
    display: inline;
    padding: 1.5rem;
}

.contact-list li {
    opacity: 0;
}

.footer a:link {
    color: #708090;
    text-decoration: none;
}

.footer a:visited {
    color: #708090;
    text-decoration: none;
}

.footer a:hover {
    color: #008b8b;
}

.fa-bars:before {
   display: none;
}

@media (max-width: 400px) {
    .fa-bars:before {
        display: block;
    }
    .nav-bar ul {display: none;}

    .nav-bar ul.toggle {display: block;}

    .blurb-text img {display: none;}
}
