html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

h1 {
    font-size: 3.5rem;
    color: blue;
    font-family: "Helvetica", sans-serif;
}

h2 {
    font-size: 1.25rem;
    font-family: "Helvetica", sans-serif;
}

#header {
    text-align: center;
    padding: 5rem;
    margin-bottom: 1rem;
}

#nav-bar li {
    display: inline;
    padding: 1.5rem;
}

#nav-bar ul {
    background-color: silver;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.blurb-text {
    background-color: silver;
    padding: 1rem;
}
