html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
    }

h1 {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 8px;
}

input {
    width: 20%;
    margin: 0.5rem;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 90vw;
}

/*input[type='radio'] {
    width: 5%;
}*/

.fill-in-info {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    /*align-items: center;*/
}


.header-blog {
    text-align: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg);
    background-size: cover;
}

.header-media {
    text-align: center;
    padding: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(http://www.publicdomainpictures.net/pictures/160000/velka/ordinateur-de-bureau-pc-1456070535WEH.jpg);
    background-size: cover;
}

.header-projects {
    text-align: center;
    padding: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://assets.entrepreneur.com/content/16x9/822/20150708163614-wordpress-millenial-desk-startup-plug-ins.jpeg);
    background-size: cover;
}

.header-homepage {
    text-align: center;
    padding: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/11403017_10152903802396456_6562952946449522985_n.jpg?oh=b7767893ce04d5222e6d1821f59d0d66&oe=58407C02);
    background-size: cover;
}

.nav-bar {
    height: 5rem;
    background-color: #008b8b;
    font-size: 1rem;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar a:link {
    color: white;
    text-decoration: none;
}

.nav-bar a:visited {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #ffd700;
}

.nav-bar a:active {
    color: #ffd700;
}

/*.nav-bar li {
    display: inline;
    padding: 1.5rem;
}

.nav-bar ul {
    font-family: "Helvetica", sans-serif;
    text-align: center;
}*/


.blurb-text {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 20px;
    margin-bottom: 150px;
}

.blurb-text img {
    width: 25rem;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
}

.footer {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    padding: 1.25rem;
}

.footer li {
    display: inline;
    padding: 1.5rem;
}

.footer a:link {
    color: #708090;
    text-decoration: none;
}

.footer a:visited {
    color: #708090;
    text-decoration: none;
}

.footer a:hover {
    color: #008b8b;
}
